/* Supprimer l'effet violet de l'autofill des navigateurs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #0F172A !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Firefox */
input:-moz-autofill,
input:-moz-autofill-preview {
  filter: none !important;
  background-color: white !important;
}

/* Supprimer tous les effets de focus/outline violets */
input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}
